DATABASE_URL=postgresql+psycopg://postgres.itwjwuwiisjfcdbzrtnr:%40G%40X52mT786@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres
SECRET_KEY=a74f6d1e7699056ed9b3c2f66e76d2508704aed5ef9789e65af37d4dbad5
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256
ENCRYPTION_KEY=ngtSEJBK23UmDFK3RvRF-0qEiopn9WaWDCnuRFT
BACKUP_DIR=/app/backup_storage
PG_DUMP_BIN=pg_dump
PG_RESTORE_BIN=pg_restore
PSQL_BIN=psql
BACKUP_TIMEOUT_SECONDS=3600
RESTORE_TIMEOUT_SECONDS=3600
SCHEDULER_INTERVAL_MINUTES=1 